<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url 'travel:index' %}">Home</a>
      <a href="{% url 'login:logout' %}">Logout</a>
    <h1>Add a Trip!</h1>

    {% if messages %}
    {% for message in messages %}
    <h3 style="color:red">{{message}}</h3>
    {% endfor %}
    {% endif %}

    <form class="" action="{% url 'travel:make_plan' %}" method="post">
      {% csrf_token %}
      <h3>Destination</h3>
      <input type="text" name="destination" placeholder="e.g. Paris"value="">

      <h3>Description</h3>
      <textarea name="description" placeholder="e.g. We are going to see the Eiffel Tower and go wine tasting" rows="8" cols="80"></textarea>

      <h3>Dates</h3>
      <h4>Start</h4>
      <input type="date" name="date_start"  value="">

      <h4>End</h4>
      <input type="date" name="date_end" value="">

      <input type="submit" name="" value="Add Plan!">

    </form>



  </body>
</html>
